.composition {
    position: relative;
    // overflow: hidden;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, .4);
        // border-radius: 2px;
        position: absolute;
        transition: all .2s;
        outline-offset: 2rem;
        &--p1 {
            left: 0%;
            top: -1.2rem;
        }
        &--p2 {
            right: 0%;
            // bottom: 1.2rem;
            top: 2rem;
        }
        &--p3 {
            left: 21%;
            top: 11rem;
        }
        &:hover {
            transform: scale(1.05) translateY(-5px);
            z-index: 11;
            outline: 1.5rem solid $color-primary;
            // border-radius: 0%;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}