.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.6rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, 0.15);
    transition: all .2s;
    padding: 2.5rem;
    text-align: center;
    &__icon {
        font-size: 6rem;
        background-image: linear-gradient(to right, rgba($color-primary-light, 0.801), rgba($color-primary-dark, 0.805));
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: .5rem;
        display: inline-block
    }
    ;
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}